@import '../../css/base.css';
@import '../../css/brand-a.css';
@import '../../css/brand-b.css';

:host {
  all: unset;
  display: block;
  margin: 16px;
  
}

.button {
  padding-left: 12px;
  padding-right: 12px;
}

.button.button--size-small { 
  font-size:12px;
  height: 24px;
}

.button.button--size-large { 
  font-size:16px;
  height: 36px;
}


.button.button--variant-primary {
  background-color: var(--color-primary-default);
  color: white;
  border-radius: 18px;
  border: none;
  border-width: 0px;
  border-style: none;
}

.button.button--variant-primary:not(.button--size-large) {
  border-radius: 12px;
}

.button.button--variant-secondary {
  background-color:white;
  color: var(--color-primary-default);
  border-width: 1px;
  border-color: var(--color-primary-default);
  border-radius: 3px;
}

.button.button--disabled {
  background-color: #999;
  color: #777;
}